.Header {
  background-color: #eeeeee;
  padding: 70px 0px 155px;
}
.divide {
  background-image: url(/assets/white_divide.png);
  background-position: top center;
  background-size: 100% 126px;
  height: 126px;
  width: 100%;
  margin-top: -126px;
}
