.MenuWrap {
  position: fixed;
  z-index: 1;
  background-color: #009faa;
  transition: width 0.3s, height 0.3s;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  transform-origin: 100% 0%;
  border-bottom-left-radius: 400px;

  &.show {
    width: 400px;
    height: 400px;
    border-bottom-left-radius: 400px;

    .menu {
      opacity: 1;
      transition: opacity 0.3s 0.3s;
    }
  }

  .menu {
    opacity: 0;
    height: 100%;
    font-size: 0.65em;
    color: #64697d;
    text-align: center;

    .linkList {
      font-size: 24px;
      line-height: 45px;
      color: white;
      letter-spacing: 2px;
      padding-top: 90px;
      padding-left: 20%;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
