.MenuButton {
  position: fixed;
  top: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;

  .hamburger {
    background-color: #009faa;
    width: 55px;
    height: 55px;

    cursor: pointer;
    border: none;
    border-radius: 28px;
    outline: none;

    span {
      display: block;
      position: absolute;
      top: 26px;
      left: 16px;
      right: 16px;
      height: 3px;
      background-color: white;

      &::before {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        content: "";
        top: -8px;
      }
      &::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        content: "";
        bottom: -8px;
      }
    }
  }
}
