.portfolio {
  min-height: 100vh;
  background: url(/assets/portfolio.jpg) center center no-repeat fixed #000;
  background-size: cover;
  position: relative;

  :after,
  :before {
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;

    @media screen and (max-width: 1080px) {
      grid-template-columns: 1fr;
    }
  }

  ul {
    padding: 5px 20px;
    list-style: none;
    border-left: 4px solid #f0a830;

    li {
      padding: 2px 0;
      margin: 0;

      a {
        z-index: 0;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 2px 5px;
        background-size: 0% 100%;
        background-position: 0% 100%;
        background-image: linear-gradient(#f0a830, #f0a830);
        background-repeat: no-repeat;
        transition: background-size 0.5s;

        &:hover {
          background-size: 100% 100%;
        }

        ::before {
          -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
          content: "";
          z-index: -1;
          position: absolute;
          top: -5px;
          bottom: 0;
          left: -10px;
          right: 0;
          width: 0;
          height: calc(100% + 10px);
          background: white;
        }
      }
    }
  }
}

.gifs {
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  flex-wrap: wrap;
}

.project {
  display: flex;
  position: relative;
  height: 600px;
  width: 350px;
  margin: 10px;

  img {
    border-radius: 10px;
  }
}

.project:hover .textProject {
  z-index: 1;
  opacity: 1;
  transform: scale(1.1);
  transition: z-index 0.5s step-start, opacity 0.5s linear, transform 0.5s;
  border-radius: 10px;
}

.textProject {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: z-index 0.5s step-end, opacity 0.5s linear, transform 0.5s;

  &.green {
    background-color: #00bcd4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: "Open Sans Condensed", sans-serif;

    h1 {
      font-size: xx-large;
    }
    p {
      font-size: larger;
    }
    a {
      font-size: xxx-large;
      align-self: flex-start;
    }
  }

  &.pink {
    background-color: #d50075;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: "Open Sans Condensed", sans-serif;

    h1 {
      font-size: xx-large;
    }
    p {
      font-size: larger;
    }
    a {
      font-size: xxx-large;
      align-self: flex-start;
    }
  }
}

.textPorject h3 {
  text-align: center;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/pattern-photo.png) left top;
}

.section {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-size: x-large;

  h1 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 2.66667em;
    font-weight: 200;
    line-height: 1;
    margin: 1.5em 0 0.5em;
    color: #fff;
    text-transform: uppercase;
  }
}

.container {
  margin-right: auto;
}
// @media (max-width: 1199px)
// section.portfolio {
//     background-attachment: scroll;
// }
